<!-- Footer -->
<div id="foo">

  <!-- Footer Container -->
  <div id="foo_d">

    <!-- DryIcons credit: Do not remove the following code if you are using this template under the DryIcons Free License Terms of Use
       If you'd like to use this theme without the obligatory back-link to http://dryicons.com/ please
       consider using it under the DryIcons Commercial License Terms
       For details see http://dryicons.com/terms/ -->

    <p>&copy;2016 if. All rights reserved.</p>

  </div>

</div>
