<!-- Header -->
<div id="hdr">

  <!-- Top Menu -->
  <div id="hdl">
    <a href="#" class="hl">About Us</a>
    <a href="#" class="hl">Contact Us</a>
    <a href="#" class="hl">Login</a>
  </div>

  <!-- Search form -->
  <form id="search_form" method="get" action="">
    <input class="search_field" type="text" value="Search" onfocus="clS(1);" onblur="clS(0);"  name="s" id="s" />
    <input class="search_button" type="submit"  value="" id="searchsubmit" />

  </form>

  <!-- Logo -->
  <div id="logo">
      <a href="/"></a>
   </div>

  <!-- Main Menu -->
  <div id="menu">
    <a class="mh" href="#">Home</a>
    <a class="mt" href="#">Tutuorials</a>
    <a class="mw" href="#">Wallpapers</a>
    <a class="mi" href="#">Inspiration</a>
  </div>

</div>