<div id="templatemo_header">

  <div id="site_title">
    <a href="http://www.templatemo.com/page/1" target="_parent">Firrael's
      <span>Blog</span>
    </a>
  </div> <!-- end of site_title -->

  <!-- <div id="search_box">
     <form action="#" method="get">
       <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
       <input type="submit" name="Search" value="Search" id="searchbutton" title="Search" />
     </form>
   </div>-->


  <div class="cleaner"></div>

</div> <!-- end of header -->

<!--<div id="templatemo_menu">
  <ul>
    <li><a href="#" class="current"><span></span>Home</a></li>
    <li><a href="#"><span></span>Web 2.0</a></li>
    <li><a href="#"><span></span>Wordpress</a></li>
    <li><a href="#"><span></span>Graphics</a></li>
    <li><a href="#"><span></span>Inspirations</a></li>
  </ul>

</div>--> <!-- end of templatemo_menu -->



<div id="templatemo_sidebar">

  <div id="aboutus">
    <h3>About Design Blog</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat aliquet risus, a ornare orci scelerisque
      et. <a href="#" class="continue">more...</a></p>
  </div>

  <div class="cleaner_h20"></div>

  <div class="sidebar_box">
    <h3 style="color:black">Recent comments</h3>


    <ul class="sidebar_menu">
      <%= render @comments %>
    </ul>

  </div>

</div>